.top
  justify-content space-between
  +wide()
    justify-content flex-start
    align-items center

.img
  width 17u
  height 8u
  +wide()
    margin-right 2u

.mobileMenu
  +wide()
    display none

.wideMenu
  display none
  +wide()
    display flex
    flex-grow 1
    margin-top 4u
    flex-direction row
    align-items center
    height 6u

.avatar
  margin-left auto

.bareIt
  font-size 8u
  line-height 20u  
  letter-spacing 1u
  font-weight 300
  text-transform uppercase
  color white
