.comments
  background-color #efefef
  margin-top 2u
  padding 2u
  border-bottom 1px solid #d0d0d0

.newComment
  flex-direction row
  align-items center

.input
  border-radius 0
  padding-right 4u

.right
  margin-left 2u
  flex-grow 1
