.left
  padding 2u
  background-color #fff

.middle
  flex-shrink 1
  margin-left 2u

.right
  justify-content center
  margin-left auto

.day, .month, .date
  color #cc000c
  text-transform uppercase
  text-align center

.date
  font-size 3u
  line-height 3u

.title
  color #cc000c
  font-size 2u
  text-transform uppercase
  flex-shrink 1
  margin-top 1u

.info, .range
  font-size 2u
  text-transform uppercase

.icon
  color #cc000c
  margin-left 2u
