.header
  flex-direction row
  background-color #efefef

.tabWrapper
  position relative
  padding 1u

.tab
  color #cc000c

.activeTab
  position absolute
  bottom 0
  left 50%
  margin-left -5px
  border-top 0
  border-left 5px solid transparent
  border-right 5px solid transparent
  border-bottom 5px solid #ffffff
