.events
  background-color #dcdcdc
  padding 2u
  +tablet()
    padding 4u
  +desktop()
    padding 2u
  +wide()
    padding 4u

.title
  text-align center
  font-size 2u
  letter-spacing 0.5u
  color #cc000c

.subtitle
  text-align center
  font-size 4u
  line-height 5u
  letter-spacing 1u
  color #cc000c

.hr
  width 12u
  border-bottom 1px solid #c3c3c3
  margin 2u auto

.wideHr
  margin 2u 0
  border-bottom 1px solid #c3c3c3
