.suggestion
  +tablet()
    flex-direction row

.left
  display none
  +tablet()
    display flex
    align-items center
    justify-content center
    width 70px
    height 70px
    border 2px solid rgb(62, 70, 87)
    border-radius 50%
    margin-right 2u

.index
  font-size 4u

.right
  flex-shrink 1
  flex-grow 1

.title
  font-size 2u
  line-height 2u
  text-transform uppercase
  letter-spacing .15em

.author
  color #cc000c
  margin-top 1u

.time
  font-size 1.5u
  color #b0b0b0

.text
  margin-top 1u

.footer
  margin-top 1u
  flex-direction row
  justify-content space-between
  align-items center

.footerLeft
  flex-direction row
  align-items center

.footerRight
  flex-direction row
  align-items center

.check
  color #cc000c

.vote
  color #cc000c
  text-transform uppercase
  margin-left .5u

.manage
  flex-direction row
  align-items center
  margin-left 1u

.remove
  color #cc000c

.heart
  color #cc000c

.manageText
  margin-left .5u
  color #cc000c
  text-transform uppercase
