.root
  flex 1

.background
  background-color #e5e5e5
  background-size 100% 50u
  background-repeat no-repeat
  +wide()
    padding 4u 0 10u
    background-size 100% 90u

.container
  padding 3u
  max-width 160u
  margin-left auto
  margin-right auto
