.features
  background-color #efefef

.feature
  padding 2u
  flex-grow 1
  flex-shrink 1
  flex-basis 0
  align-items center
  text-align center
  +tablet()
    padding 4u
  +desktop()
    padding 2u
  +wide()
    padding 4u

.text
  color #cc000c
  margin-top 1u

.icon
  color #cc000c
  font-size 2u
