.avatar
  flex-direction row
  align-items center
  margin-top 4u

.info
  margin 0 1u

.hello
  font-size 1.5u
  line-height 2u
  color white
  text-transform uppercase
  letter-spacing .3em

.name
  font-size 2.5u
  line-height 3u
  color white
  text-transform uppercase
  font-weight 300
