.info
  margin 0 1u
  align-items flex-end

.hello
  font(s)
  color white
  text-transform uppercase
  letter-spacing 0.5u

.name  
  font(xl)
  color white
  text-transform uppercase
  font-weight 300
