.events
  background-color #dcdcdc
  padding 2u

.title
  text-align center
  font-size 2u
  letter-spacing 0.2em
  color #cc000c

.subtitle
  text-align center
  font-size 4u
  line-height 5u
  letter-spacing 0.3em
  color #cc000c

.hr
  width 100px
  border-bottom 1px solid #c3c3c3
  margin 2u auto

.wideHr
  margin 2u 0
  border-bottom 1px solid #c3c3c3
