.comment
  flex-direction row
  margin-bottom 2u

.center
  margin-left 2u
  flex-grow 1
  padding-bottom 1u
  border-bottom 1px solid #d4d4d4
  flex-shrink 1

.right
  padding-bottom 1u
  border-bottom 1px solid #d4d4d4

.author
  color #cc000c

.time
  font-size 1.5u
  color #b0b0b0

.remove
  color #cc000c
