.middle
  flex-shrink 1
  margin-left 2u
  margin-right 4u

.img
  width 8u
  height 8u

.title
  color #cc000c
  font-size 2u
  text-transform uppercase
  flex-shrink 1

.info
  font-size 2u
  text-transform uppercase

.date
  font-size 2u

.icon
  color #cc000c
  margin-left 2u
